body {
  background-image: url('hh.jpg');
  background-size: cover;              /* Cover the screen */
  background-repeat: no-repeat;        /* Prevent tiling */
  background-position: center center;  /* Center the image */
  background-attachment: fixed;        /* Keeps background fixed during scroll */
  image-rendering: auto;
  -webkit-backface-visibility: hidden;
}
h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
}

.slider-frame {
  position: relative;
  width: 500px;              
  height: 400px;              
  overflow: hidden;
  margin: 0 auto;             
}

.slide-images {
  position: relative;
  width: 100%;                
  height: 100%;
}

.img-container {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeAnimation 20s infinite; 
}

.img-container:nth-child(1) {
  animation-delay: 0s;
}

.img-container:nth-child(2) {
  animation-delay: 5s;
}

.img-container:nth-child(3) {
  animation-delay: 10s;
}

.img-container:nth-child(4) {
  animation-delay: 15s;
}

.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fadeAnimation {
  0%   { opacity: 0; }
  10%  { opacity: 1; }
  30%  { opacity: 1; }
  40%  { opacity: 0; }
  100% { opacity: 0; }
}

h2 {
  font-size: 25px;         
    
  font-family: 'Arial', sans-serif;  
  text-align: left;       
  width: fit-content;      
  margin: 0 auto;          
  padding: 20px 0;   
  margin-left: 200px;  
   margin-right: 200px;
}



   
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: #145a32;
    padding: 0px;
}


nav a {
    display: inline-block;
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
}


nav a:hover {
    background-color: #5abf6a;
    color: rgb(9, 20, 78);}
 





   nav {
  display: flex;                     
  justify-content: center;         
  align-items: center;               
  font-size: medium;
  font-style: oblique;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;                   
}